<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_app</key>
	<string>com.microsoft.edgemac</string>
	<key>1_id</key>
	<integer>16617</integer>
	<key>2_app</key>
	<string>com.jetbrains.rider</string>
	<key>2_id</key>
	<integer>15260</integer>
	<key>3_app</key>
	<string>md.obsidian</string>
	<key>3_id</key>
	<integer>11544</integer>
	<key>4_app</key>
	<string>com.figma.Desktop</string>
	<key>4_id</key>
	<integer>2866</integer>
	<key>5_app</key>
	<integer>84320</integer>
	<key>5_id</key>
	<integer>16264</integer>
	<key>9_app</key>
	<string>com.microsoft.edgemac.app.gabodgbmieebkjkpdlfnnfbjldgadkpg</string>
	<key>9_id</key>
	<integer>20646</integer>
	<key>f1_app</key>
	<string>com.microsoft.edgemac.app.gabodgbmieebkjkpdlfnnfbjldgadkpg</string>
	<key>f1_id</key>
	<integer>17966</integer>
</dict>
</plist>
