<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_app</key>
	<string>org.hammerspoon.Hammerspoon</string>
	<key>1_id</key>
	<integer>3631</integer>
	<key>1_path</key>
	<string>/Applications/Hammerspoon.app</string>
	<key>2_app</key>
	<string>com.jetbrains.rider</string>
	<key>2_id</key>
	<integer>108</integer>
	<key>2_path</key>
	<string>/Applications/Rider.app</string>
	<key>3_app</key>
	<string>md.obsidian</string>
	<key>3_id</key>
	<integer>72</integer>
	<key>3_path</key>
	<string>/Applications/Obsidian.app</string>
	<key>4_app</key>
	<string>com.figma.Desktop</string>
	<key>4_id</key>
	<integer>74</integer>
	<key>4_path</key>
	<string>/Applications/Figma.app</string>
	<key>5_app</key>
	<integer>84320</integer>
	<key>5_id</key>
	<integer>16264</integer>
	<key>9_app</key>
	<string>com.netease.macmail</string>
	<key>9_id</key>
	<integer>184</integer>
	<key>9_path</key>
	<string>/Applications/MailMaster.app</string>
	<key>f1_app</key>
	<string>xyz.chatboxapp.app</string>
	<key>f1_id</key>
	<integer>2737</integer>
	<key>f1_path</key>
	<string>/Applications/chatbox.app</string>
	<key>f2_app</key>
	<string>com.microsoft.edgemac.app.mcpmngknmbggcjflkgnpejimnpdcbnin</string>
	<key>f2_id</key>
	<integer>396</integer>
	<key>f2_path</key>
	<string>/Users/apple/Applications/Edge Apps.localized/work space.app</string>
	<key>f3_app</key>
	<string>com.microsoft.edgemac.app.pfglbpdbchikinhomjlnbkcflnjchemg</string>
	<key>f3_id</key>
	<integer>381</integer>
	<key>f3_path</key>
	<string>/Users/apple/Applications/Edge Apps.localized/⁤⁤‌⁢⁡​⁢⁢​⁢⁡⁣⁣​​⁡​​⁡⁤﻿﻿⁤⁢⁢⁢​‍‌‍‍‍⁡⁡⁢﻿⁡⁢﻿⁢​⁢﻿​⁢‬⁣⁤⁢Bug List汇总.app</string>
</dict>
</plist>
