<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_app</key>
	<string>com.microsoft.edgemac</string>
	<key>1_id</key>
	<integer>53</integer>
	<key>2_app</key>
	<string>com.microsoft.VSCode</string>
	<key>2_id</key>
	<integer>9946</integer>
	<key>3_app</key>
	<string>org.hammerspoon.Hammerspoon</string>
	<key>3_id</key>
	<integer>9974</integer>
	<key>4_app</key>
	<string>com.figma.Desktop</string>
	<key>4_id</key>
	<integer>366</integer>
	<key>5_app</key>
	<integer>84320</integer>
	<key>5_id</key>
	<integer>16264</integer>
	<key>9_app</key>
	<string>com.microsoft.edgemac.app.gabodgbmieebkjkpdlfnnfbjldgadkpg</string>
	<key>9_id</key>
	<integer>20646</integer>
	<key>f1_app</key>
	<string>xyz.chatboxapp.app</string>
	<key>f1_id</key>
	<integer>10092</integer>
	<key>f2_app</key>
	<string>com.microsoft.edgemac.app.mcpmngknmbggcjflkgnpejimnpdcbnin</string>
	<key>f2_id</key>
	<integer>163</integer>
	<key>f3_app</key>
	<string>com.microsoft.edgemac.app.pfglbpdbchikinhomjlnbkcflnjchemg</string>
	<key>f3_id</key>
	<integer>9124</integer>
</dict>
</plist>
